body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#all {
    background: #fff2df;

}

#header {
    background: #0070A6;
    min-height: 60px;
    padding: 33px 5%;
}


#nav {
    background: #0095c6;
    min-height: 60px;
    padding: 0 5%;
    display: block;
    overflow: hidden;
}


#main {
    min-height: 444px;
    padding: 0 5%;
}

#welcome {
    width: 70%;
    float: left;
    padding-top: 5px;
    padding: 0 5% 5% 0;
}

#sidebarwidget {
    width: 25%;
    float: left;
}
.boxgedget{
    background-color: rgb(19, 130, 185);
    padding: 0 5px 2px 5px;
    color: white;
    text-align: center;

}
.boxgedget h2{
    padding-top: 10px;
}
#pWidget{
    padding-top: 0;
    padding-left: 12px;
    padding-right: 12px;
    background-color: rgb(57, 197, 243);
    color: white;
    text-align: initial;
}
#footer {
    clear: both;
    background: #0070A6;
    min-height: 22px;
    padding: 25px 5%;
    color: white;
    text-align: center;

}

#header h1 {
    color: white;
    margin: 0;
    padding: 0;
}

#nav ul {
    margin: 0;
    padding: 0;
    height: auto;
}

#nav ul li {
    list-style: none;
    display: inline-block;
    float: left;
    height: 60px;
    text-align: center;
}

#nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    line-height: 40px;
    display: block;
    padding: 10px 33px;

}

#nav ul li a:hover,
#nav ul li a.active {
    background: #00A9E1;
}

p {
    line-height: 25px;
    text-align: justify;
}

.grid1,
.grid2 {
    float: left;
    width: 30%;
    margin-right: 5%;
    line-height: 25px;

}

.grid3 {
    float: left;
    width: 30%;
    margin: 0;
    line-height: 25px;

}

img {
    max-width: 100%;
}

div.menu {
    clear: both;
    cursor: pointer;
    padding: 22px;
    background: #00536f;
    color: white;
    display: none;
    text-align: center;
}

/*//===========================Responsive CSS===========*/

@media screen and (max-width:800px) {
    #nav {
        padding: 0;

    }

    #nav ul {
        display: none;
    }

    #nav ul li {
        width: 100%;
    }

    div.menu {
        display: block;
    }

    #welcome {
        width: 100%;
        float: none;
    }

    #sidebarwidget {
        clear: both;
        width: 100%;
        float: left;
    }

    div.grid1 {
        width: 47%;
        margin-right: 6%;
    }

    div.grid2 {
        width: 47%;
        margin-right: 0;
    }

    div.grid3 {
        width: 100%;
        margin-right: 0;
    }
    .boxgedget h2{
        padding-top: 10px;
        font-size: 20px;
    }
}

@media screen and (max-width:500px) {

    div.grid1,
    div.grid2,
    div.grid3 {
        width: 100%;
        margin: 0;
    }
}